name: build-and-deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: SesToSlack
      - name: Install dependencies
        run: npm ci
      - name: Copy config
        env:
          CONFIG_URI: ${{ secrets.CONFIG_URI }}
        run: |
          aws s3 sync "$CONFIG_URI" config
      - name: Copy testdata
        env:
          UNITTESTDATA_URI: ${{ secrets.UNITTESTDATA_URI }}
        run: |
          aws s3 sync "$UNITTESTDATA_URI" testdata
      - name: Test
        run: npm run test
      - name: Deploy
        if: startsWith(github.ref, 'refs/heads/main')
        run: npm run deploy:prod -- --verbose
